<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body class="container">
    <div class="col-md-12">
      <h2 class="text-center">Howdy user <%= name %></h2>
      <% if (name==="Ahmad" ){ %>
      <p class="text-center">You're <%= name %>, and you are very sexy</p>
      <% }else if (name==="Benoit"){ %>
      <p class="text-center">
        Hello my name is <%= name %> i love react native that's my
        <a href="benoit.fage.fr">portfolio</a>
      </p>
      <% }else if (name!==null){ %>
      <p class="text-center">Howdy <%= name %></p>
      <% } else {%>
      <p class="text-center">Enter your name in the url</p>
      <% } %>
    </div>
  </body>
</html>
